.box{
    height: 400px;
    width:300px;
    border: 2px solid black;
    background-color: #eaeaea;
    margin: 5% 5%;
    align-items: center;
    
}
.store{
    background-color: rgb(220, 220, 220);
    display: flex;  
    flex-direction: row;
}
body{
    margin: 0%;
    padding: 0%;
}